    //Pink Vibes
    // $clr-primary1:#c20842;
    // $clr-primary: #f00b51;
    // $clr-primary-1: #f66a8a;
    // $clr-primary-x: #0b91f0;
    // $clr-secondary1: #640844;
    // $clr-secondary: #8f0b68;
    // $clr-secondary-1: #b5409e;
    // $clr-secondary-x: #0b918f;
    // $header-grad: linear-gradient(to right, #e9386d, #c91493);
    // $body-grad: linear-gradient(to bottom, #e3c7c7, #da4fbe);
    // $track-grad: linear-gradient(to left, #8f0b68, #f66a8a);
    // $vibe-grad: linear-gradient(to bottom, #640844, #f66a8a);
    // $player-grad: linear-gradient(to left, #3c0d2c, #8f0b68);
    // $loader-grad: linear-gradient(to top, #560d3d, #a21076);
    // $clr-bg-light: #e3c7c7;
    
    //Dark Blue Vibes
    $clr-primary1:#010f1c;
    $clr-primary: #001f3f;
    $clr-primary-1: #003366;
    $clr-primary-x: #ff9933;
    $clr-secondary1: #1462af;
    $clr-secondary: #3994ef;
    $clr-secondary-1: #84bbf3;
    $clr-secondary-x: #cccccc;
    $header-grad: linear-gradient(to right, #001f3f, #003366);
    $body-grad: linear-gradient(to bottom, #1462af, #84bbf3);
    $track-grad: linear-gradient(to left, #044586, #021e38);
    $curr-track-grad: linear-gradient(to right, #0c5eaf, #06325b);
    $vibe-grad: linear-gradient(to bottom, #044586, #418bd4);
    $player-grad: linear-gradient(to left, #1873cd, #0c355f);
    $loader-grad: linear-gradient(to top, #84bbf3, #104e8b);
    $clr-bg-light: #a05195;
    
    $clr-white: #ffffff;
    $clr-gray: #E6F4E9;
    $clr-gray-o: #3888a051;
    $clr-red: #e11f1f;
    $clr-red-5: #e11f1fab;
    $clr-bg: rgb(33, 33, 33);
    $clr-txt: #ffffff;
